.container{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  


.homepage{
  height: 100vh;
  background-image: url(./images/homepage.jpg);
  background-position: 'center';
  background-size:'cover';
  background-repeat: 'no-repeat';

}

.description {
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
}

.description h1{
  color: whitesmoke;
  opacity: 0.8;
  font-size: 70px;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-align: center;
  width:100%;
  animation:slide-in 2s ease-out;
  animation-delay: 20ms;
}

@keyframes slide-in {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0;
  }
}

.description footer{
  padding-top: 320px;
  color:whitesmoke;
  font-size: 48px;
  font-weight: 500;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation-name:glow;
  animation-delay: 3s;

}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fc2647, 0 0 40px #fc2647, 0 0 50px #fc2647, 0 0 60px #fc2647, 0 0 70px #fc2647;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff0055, 0 0 40px #ff0055, 0 0 50px #ff0055, 0 0 60px #ff0055, 0 0 70px #ff0055, 0 0 80px #ff0055;
  }
}

.bio{
  height: auto;
  margin:70px 0px 0px 180px;
  padding:0px 30px 10px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bio h1{
  color:whitesmoke;
  opacity:0.8;
  font-size: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: white dotted;
}

.projects{
  height: auto;
  margin:70px 0px 0px 210px;
  padding:0px 30px 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



